*.class

####################################
### Mobile Tools for Java (J2ME) ###
####################################
.mtj.tmp/

#####################
### Package Files ###
#####################
*.jar
*.war
*.ear

#######################
### Temporary files ###
#######################
target/
apache-spark/target/

#####################
### Eclipse files ###
#####################
**/.project
**/.classpath
**/.settings/
**/apache-spark/.settings/
blog/bin/
**/.tern-project

######################
### IntelliJ files ###
######################
**/*.iml
**/.idea
**/.gradle
